USE [master]
GO
/****** Object:  Database [TEST_FOR_MONA]    Script Date: 10/17/2024 5:11:55 PM ******/
CREATE DATABASE [TEST_FOR_MONA]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'TEST_FOR_MONA', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST_FOR_MONA.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'TEST_FOR_MONA_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\TEST_FOR_MONA_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TEST_FOR_MONA].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TEST_FOR_MONA]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 10/17/2024 5:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 10/17/2024 5:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeCode] [nvarchar](450) NULL,
	[Name] [nvarchar](max) NOT NULL,
	[DateOfBirth] [date] NOT NULL,
	[PositionId] [int] NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Employees] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Positions]    Script Date: 10/17/2024 5:11:56 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Positions](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PositionName] [nvarchar](max) NOT NULL,
	[DateCreated] [datetime2](7) NOT NULL,
	[DateUpdated] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Positions] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20241017041750_Employee_Position', N'8.0.10')
GO
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([Id], [EmployeeCode], [Name], [DateOfBirth], [PositionId], [DateCreated], [DateUpdated]) VALUES (1, N'NV_2024_10_17_1', N'Nguyễn Văn An', CAST(N'2000-04-10' AS Date), 1, CAST(N'2024-10-17T11:27:20.7178501' AS DateTime2), CAST(N'2024-10-17T11:27:20.7178506' AS DateTime2))
INSERT [dbo].[Employees] ([Id], [EmployeeCode], [Name], [DateOfBirth], [PositionId], [DateCreated], [DateUpdated]) VALUES (2, N'NV_2024_10_17_2', N'Nguyễn Văn Bình', CAST(N'2000-11-10' AS Date), 2, CAST(N'2024-10-17T11:27:35.2753896' AS DateTime2), CAST(N'2024-10-17T11:42:48.6920823' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Employees] OFF
GO
SET IDENTITY_INSERT [dbo].[Positions] ON 

INSERT [dbo].[Positions] ([Id], [PositionName], [DateCreated], [DateUpdated]) VALUES (1, N'Quản lý', CAST(N'2024-10-17T11:25:10.3785523' AS DateTime2), CAST(N'2024-10-17T11:25:50.5300100' AS DateTime2))
INSERT [dbo].[Positions] ([Id], [PositionName], [DateCreated], [DateUpdated]) VALUES (2, N'Học vụ', CAST(N'2024-10-17T11:25:18.1674996' AS DateTime2), CAST(N'2024-10-17T11:25:18.1675011' AS DateTime2))
INSERT [dbo].[Positions] ([Id], [PositionName], [DateCreated], [DateUpdated]) VALUES (3, N'Tư vấn viên', CAST(N'2024-10-17T11:25:26.3730519' AS DateTime2), CAST(N'2024-10-17T11:25:26.3730536' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Positions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Employees_EmployeeCode]    Script Date: 10/17/2024 5:11:56 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Employees_EmployeeCode] ON [dbo].[Employees]
(
	[EmployeeCode] ASC
)
WHERE ([EmployeeCode] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Employees_PositionId]    Script Date: 10/17/2024 5:11:56 PM ******/
CREATE NONCLUSTERED INDEX [IX_Employees_PositionId] ON [dbo].[Employees]
(
	[PositionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK_Employees_Positions_PositionId] FOREIGN KEY([PositionId])
REFERENCES [dbo].[Positions] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK_Employees_Positions_PositionId]
GO
USE [master]
GO
